@model List<ProjectWithAuthorization.Models.Component.ComponentListMode>
@{
    ViewBag.Title = "My workspace";
}
<h2 class="mt-2">@ViewBag.Title</h2>

    <div class="container">
        <div class="text-left mt-3 pb-3">
            <button type="button" class="btn btn-success float-righ">Load configuration</button>
            <button type="button" class="btn btn-outline-success navbar-right">Generate report</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Component name</th>
                    <th>Criticality Level</th>
                    <th>Vendor link</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var component in @Model)
            {
                    <tr class="@component.CriticalityClass @component.Id t-row">
                        <td>@Html.ActionLink(@component.Name, "ShowComponentDetales", "Component")</td>
                        <td>@component.CriticalityLevel</td>
                        <td>@component.Vendor</td>
                        <td><i>@Html.ActionLink("Edit data", "EditComponent", "Component", new { @class = "text-secondary" })</i></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>



 