@model IEnumerable<Domain.ComponentList>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComponentList</title>
</head>
<body>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Component name</th>
            <th>Criticality Level</th>
            <th>Vendor link</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var component in @Model)
        {
            <tr class="@component.CriticalityClass @component.Id t-row">
                <td>@Html.ActionLink(@component.Name, "ShowComponentDetales", "Component")</td>
                <td>@component.CriticalityLevel</td>
                <td>@component.Vendor</td>
                <td><i>@Html.ActionLink("Edit data", "EditComponent","Component",new {}, new { @class = "text-secondary" })</i></td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>
