@model List<Domain.ComponentList>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateReport</title>
</head>
<body>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Component name</th>
                    <th>Criticality Level</th>
                    <th>Vendor link</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var component in @Model)
                {
                    <tr class="@component.CriticalityClass @component.Id t-row">
                        <td>@component.Name</td>
                        <td>@component.CriticalityLevel</td>
                        <td>@component.Vendor</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
